# 登录演示账号
APP_DEMO_USER=CGG41
APP_DEMO_PASSWORD=52113
APP_DEMO_NAME=杠上开花
APP_DEMO_STUDENT_ID=52113

# 模型路径
STABLE_MODEL_PATH=./models/Qwen/Qwen2.5-VL-3B-Instruct
BETA_MODEL_PATH=./models/Qwen/Qwen2.5-VL-7B-Instruct

# 默认行为
DEFAULT_BETA_MODE=true
ENABLE_KB=true
